body{
    background-color: lightblue;
}
h1{
    color:crimson;
    text-align: center;
   
} 

p{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:lah1{
        color:crimson;
        text-align: center;
    } 
}
.flex{
    display: flex;
    padding-left: 60px;
    justify-content:space-between;
}
#flex-background{
    background-image: url("background.jpg");
}